.Book-trip {
  margin-top: 150px;
  .trip {
    .trip-Subheading {
      color: #5e6282;
      font-size: 18px;
      margin-bottom: 40px;
    }
    .trip-heading {
      font-size: 50px;
      color: #14183e;
      max-width: 90%;
    }
    .trip-values {
      .trip-value {
        margin: 30px 0;
        list-style: none;
        display: flex;
        align-items: center;
        .tip-text {
          color: #5e6282;
          margin-left: 15px;
          max-width: 300px;
          p:first-child {
            color: #424666;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .tripTo {
    display: flex;
    align-items: center;
    justify-content: center;
    .tripTo-cards {
      .Ellipse {
        position: absolute;
        top: -200px;
        z-index: -1;
        opacity: 70%;
      }
      .card-container {
        background-color: #fff;
        border-radius: 26px;
        padding: 20px;
        width: 370px;
        height: 400px;
        .tripTo-card-header {
          height: 160px;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          img {
            margin-top: -20px;
            width: 100%;
          }
        }
        .tripTo-card-body {
          padding-top: 30px;
          h4 {
            font-size: 18px;
            font-weight: normal;
            color: #080809;
          }
          .card-info {
            margin-top: 20px;
            display: flex;
            color: #84829a;
            .date {
              margin-right: 20px;
              padding-right: 20px;
              border-right: solid 2px #bbbac5;
            }
          }
          .options {
            display: flex;
            margin-top: 20px;
            li {
              list-style: none;
              height: 34px;
              width: 34px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              border-radius: 50%;
              color: #84829a;
              background-color: #f5f5f5;
            }
          }
        }
        .tripTo-card-footer {
          margin-top: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #84829a;
          p {
            .fa-chart-line {
              font-size: 20px;
              margin-right: 10px;
            }
          }
          .fa-heart {
            font-size: 24px;
            color: #4152ca;
          }
        }
      }
      .tripTo-mini-card {
        display: flex;
        height: 130px;
        width: 220px;
        position: absolute;
        top: 250px;
        right: -20px;
        padding: 15px 15px 15px 10px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.582);
        backdrop-filter: blur(5px);
        .tripTo-mini-card-header {
          margin-right: 10px;
          img {
            width: 50px;
            border-radius: 50%;
          }
        }
        .tripTo-mini-card-body {
          width: 100%;
          .card-statu {
            font-size: 14px;
            color: #84829a;
          }
          h4 {
            margin-top: 10px;
            font-size: 18px;
            font-weight: normal;
            color: #080809;
          }
          .card-info {
            margin-top: 15px;
            position: relative;
            width: 100%;
            p {
              font-size: 14px;
              span {
                color: #8a79df;
              }
            }
            .progress {
              margin-top: 10px;
              width: 100%;
              height: 5px;
              border-radius: 50px;
              background-color: #f5f5f5;
              position: relative;
              overflow: hidden;
              div {
                height: 100%;
                width: 40%;
                background-color: #8a79df;
                border-radius: 50px;
              }
            }
          }
        }
      }
    }
  }
}
