.services {
  margin-top: 250px;
  .Group-plus {
    position: absolute;
    top: -70px;
    right: 0;
    z-index: -1;
  }
  .services-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
      margin-bottom: 15px;
      font-size: 18px;
      color: #5e6282;
    }
    h3 {
      color: #14183e;
      font-size: 50px;
      font-weight: 500;
    }
  }
  .categorys {
    .card-category-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .card-category {
        background-color: #fff;
        border-radius: 36px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px;
        padding-top: 30px;
        overflow: hidden;
        width: 230px;
        cursor: pointer;
        .card-body {
          padding: 10px 20px;
          width: 100%;
          h4 {
            margin-top: 15px;
            font-size: 20px;
            color: #1e1d4c;
            font-weight: normal;
          }
          p {
            margin-top: 10px;
            color: #5e6282;
            line-height: 1.8;
            max-width: 180px;
          }
        }
      }
      .Rectangle {
        position: absolute;
        bottom: -30px;
        z-index: -1;
        left: -5px;
      }
    }
  }
}
