a {
  text-decoration: none;
}
* {
  font-family: sans-serif;
}
.page-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.decore {
  position: absolute;
  width: 766px;
  top: -50px;
  left: 55%;
}
.group-5 {
  position: absolute;
  right: -90px;
  bottom: -80px;
}
